div.well {
    height: 250px;
}

.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.Absolute-Center.is-Responsive {
    width: 50%;
    height: 30%;
    min-width: 200px;
    max-width: 400px;
    padding: 40px;
    background-color:skyblue;
}

#logo-container {
    margin: auto;
    margin-bottom: 10px;
    width: 200px;
    height: 30px;
    text-decoration: solid;
}

.container{

}