<div class="container" [nbSpinner]="loading" nbSpinnerStatus="danger" nbSpinnerSize="large" nbSpinnerMessage="Loading">
    <div class="row" >
        <div class="Absolute-Center is-Responsive">
            <div id="logo-container">
                <h5>Upload a JSON File</h5>
            </div>
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-sm-9">
                        <input type="file" #fileInput name="file" multiple="false"
                            style="width: 350px;overflow: hidden;" class="text-wrap"
                            (change)="onChange($event.target.files)" />
                    </div>
                    <div class="col-sm-3"><input class="btn btn-primary btn-sm float-right mr-2" type="button"
                            value="download" (click)="download()" /></div>
                </div>
            </div>
        </div>
    </div>
</div>